/* styles.css */
.gradient-background {
  border-image: linear-gradient(
    180deg,
    rgba(0, 112, 60, 0.4) 0%,
    rgba(0, 92, 183, 0.4) 100%
  );
  width: 100%;
  height: auto;
}

/* styles.css */
.active-link {
  color: #005cb7;
  text-decoration: underline;
}

/*  */
.wheel {
  border: 1px solid rgba(103, 105, 110, 0.3);
  position: absolute;
  border-radius: 50%;
  margin-left: 10%;

  width: 80%;
  height: 80%;

  animation-name: wheel;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cabin {
  width: 15%;
  height: 15%;
  margin: 0 auto;
  position: absolute;
  transform-origin: 50% 0%;
  animation: cabins 10s linear infinite;
  font-size: 35.2px;
}

.cabin:nth-of-type(1) {
  font-size: 40px;
  right: -15.5%;
  top: 50%;
}
.cabin:nth-of-type(2) {
  font-size: 37px;
  right: 17%;
  top: 98%;
}
.cabin:nth-of-type(3) {
  font-size: 40px;
  right: 67%;
  top: 95.5%;
}
.cabin:nth-of-type(4) {
  font-size: 40px;
  left: -14%;
  top: 50%;
}
.cabin:nth-of-type(5) {
  font-size: 44px;
  left: 9%;
  top: -2%;
}
.cabin:nth-of-type(6) {
  font-size: 37px;
  right: 13%;
  top: -6%;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 900px) {
  .wheel {
    width: 80%;
  }
  /* html 5*/
  .cabin:nth-of-type(1) {
    font-size: 40px;
    right: -15.5%;
    top: 50%;
  }
  /* css3 */
  .cabin:nth-of-type(2) {
    font-size: 32px;
    right: 15%;
    top: 97.5%;
  }
  /* JS */
  .cabin:nth-of-type(3) {
    font-size: 35px;
    right: 66%;
    top: 97%;
  }
  /* React */
  .cabin:nth-of-type(4) {
    font-size: 35px;
    left: -15%;
    top: 50%;
  }
  /* Tailwind */
  .cabin:nth-of-type(5) {
    font-size: 38px;
    left: 3%;
    top: 2%;
  }
  /* Github */
  .cabin:nth-of-type(6) {
    font-size: 35px;
    right: 8%;
    top: -4%;
  }
}

@media (max-width: 450px) {
  .wheel {
    /* width: 65%; */
    width: 260px;
    height: 260px;

    border: none;
  }
  .cabin {
    width: 40px;
    height: 40px;
    font-size: 35px;
  }
  .cabin:nth-of-type(1) {
    font-size: 24px;
    right: -12.5%;
    top: 50%;
  }
  .cabin:nth-of-type(2) {
    font-size: 22px;
    right: 15%;
    top: 94.5%;
  }
  .cabin:nth-of-type(3) {
    font-size: 24px;
    right: 66%;
    top: 92%;
  }
  .cabin:nth-of-type(4) {
    font-size: 24px;
    left: -8%;
    top: 50%;
  }
  .cabin:nth-of-type(5) {
    font-size: 24px;
    left: 18%;
    top: 2%;
  }
  .cabin:nth-of-type(6) {
    font-size: 22px;
    right: 15%;
    top: -1%;
  }
}

.slick-dots {
  font-size: 2rem;
}
